@import './element-ui.scss';
.w100{width: 100%;}
.w50{width: 50% !important;}
.h100{height: 100%}
.f-wd150{width: 150px !important;}
.f-clear:after{
  content: '';
  height: 0;
  clear: both;
  display: block;
  visibility:hidden;
}
.fl{float:left}
.fr{float:right}
.al{text-align:left}
.ac{text-align:center}
.ar{text-align:right}
.dn{display:none}
.f-hidden{display: none;}
.f-blue{color: #2EA2F8;}
.f-white{color: #fff;}
.f-black{color: #606266;}
.f-gray{color: #999;}
.f-red{color: #F95359!important;}
.f-red:hover{color: #f56469!important;}
.f-error{color: #FF002E;}
.f-pointer{cursor: pointer;}
.f-pointer--light{
  cursor: pointer;
  &:hover{
    color: #0092ff;
    font-weight: 600;
  }
}
.overflow-hidden{overflow: hidden;}
.inline-block{display: inline-block;}
.mt5{margin-top: 5px;}
.mt10{margin-top: 10px;}
.mt15{margin-top: 15px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.mr5{margin-right: 5px;}
.mr10{margin-right: 10px;}
.mr15{margin-right: 15px;}
.mr20{margin-right: 20px;}
.mr30{margin-right: 30px;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.ml0{margin-left: 0;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml20{margin-left: 20px;}
.ml30{margin-left: 30px;}
.pt5{padding-top: 5px;}
.pt10{padding-top: 10px;}
.pt20{padding-top: 20px;}
.pt30{padding-top: 30px;}
.pr5{padding-right: 5px;}
.pr10{padding-right: 10px;}
.pr20{padding-right: 20px;}
.pr30{padding-right: 30px;}
.pb5{padding-bottom: 5px;}
.pb10{padding-bottom: 10px;}
.pb20{padding-bottom: 20px;}
.pb30{padding-bottom: 30px;}
.pl5{padding-left: 5px;}
.pl10{padding-left: 10px;}
.pl20{padding-left: 20px;}
.pl30{padding-left: 30px;}
.pointer{cursor: pointer;}
.relative{position: relative;}
.f-flex-space-between{
  display: flex;
  justify-content: space-between;
}
.f-flex-spaceBetween-alignCenter{
   display: flex;
   justify-content: space-between;
   align-items: center;
 }
.f-flex-spaceStart-alignStart{
  display: flex !important;
  justify-content: flex-start;
  align-items: flex-start;
}
.m-avatar40{
  width: 40px;
  height: 40px;
  display: inline-block;
}

.larger{
  width: 460px;
}

.btn--blue{
  border: 1px solid #208ef2;
  color: #208ef2;
}

.scroll--y{
  width: 100%;
  height: 100%;
  .el-scrollbar__wrap{
    overflow-x: hidden;
  }
}

.page {
  height: 100%;
  box-sizing: border-box;
}
.page__header{
  width: 100%;
  height: 60px;
  margin-top: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .page__header--title{
    font-size: 20px;
    color: #303133;
    .iconfont{
      color: #c0c4cc;
      font-size: 20px;
      padding-right: 10px;
      cursor: pointer;
    }
  }
}
.page__content{
  width: 100%;
  height: calc(100% - 40px);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  box-sizing: border-box;
  background: #fff;
}
.page__content--filter{
    width: 100%;
    max-width: 1150px;
    position: relative;
    &.filter--reduce {
      height: 75px;
      width: calc(100% - 155px);
    }
  .el-form-item{
    margin: 0 20px 15px 0;
  }
  .el-form-item__label{
    height: 24px;
    line-height: 20px;
  }
  .el-input{
    width: 220px;
  }
  .btn__search{
    margin: 24px 0 15px 0px;
    .el-button{
      border: 1px solid #4da6f7;
      color: #4da6f7;
    }
    .iconfont{
      font-size: 14px;
      padding-right: 4px;
    }
  }
  .btn__expand{
    margin: 24px 0 15px 20px;
    height: 36px;
    line-height: 36px;
    cursor: pointer;
    &:hover{
      color: #208ef2;
    }
    .iconfont{
      font-size: 12px;
    }
  }
}
.page__content--search{
  display: inline-block;
//   position: absolute;
//   top: 0;
//   right: -150px;
  &.filter--reduce {
    position: absolute;
    top: 0;
    right: -155px;
  }
}
.table__icon--btn .iconfont{
  cursor: pointer;
  color: #c0c4cc;
  font-size: 16px;
  margin-right: 10px;
  &:hover{
    color: #2EA2F8;
  }
}


.el-message-box{
  border-radius: 2px;
  padding-bottom: 15px;
  .el-button{
    padding: 0 20px;
    height: 36px;
  }
  .el-message-box__title{
    font-size: 16px;
  }
  .el-message-box__btns{
    margin-top: 15px;
  }
  &.delete__box--confirm .el-button--primary {
    background: #FF002E;
    border: 1px solid #FF002E;
  }
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
.icon-load {
  color: #208ef2;
  font-size: 60px;
  margin-right: 20px;
  display: inline-block;
  -webkit-transform: rotate(360deg);
  animation: rotation 3s linear infinite;
  -moz-animation: rotation 3s linear infinite;
  -webkit-animation: rotation 3s linear infinite;
  -o-animation: rotation 3s linear infinite;
}
/* **********************未登录页面********************** */
.unLogin-box {
  height: 80vh;
  margin: 30px 120px 0 120px;
  background-color: #fff;
  font-size: 14px;
  color: #606266;
  .body {
    width: 600px;
    margin: auto;
    padding-top: 40px;
    text-align: center;
  }
  .title {
    font-size: 20px;
    color: #303133;
    margin-bottom: 30px;
  }
  .progress {
    margin-bottom: 40px;
  }
  .progress__item {
    display: inline-block;
    text-align: center;
    min-width: 70px;
    &:nth-child(2) {
      margin: 0 102px;
      .progress__index {
        position: relative;
      }
      .progress__index:before {
        content: "";
        display: inline-block;
        width: 122px;
        height: 1px;
        background: #e4e7ed;
        position: absolute;
        top: 17px;
        right: 100%;
        margin-right: 15px;
      }
      .progress__index:after {
        content: "";
        display: inline-block;
        width: 122px;
        height: 1px;
        background: #e4e7ed;
        position: absolute;
        top: 17px;
        left: 100%;
        margin-left: 15px;
      }
    }
  }
  .progress__item--current {
    .progress__index {
      border: 1px solid #208ef2;
      color: #208ef2;
    }
    .progress__text {
      color: #208ef2;
    }
  }
  .progress__item--complete {
    .progress__index {
      border: 1px solid #208ef2;
      color: #fff;
      background: #208ef2;
    }
    .progress__text {
      color: #208ef2;
    }
  }
  .progress__index {
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px auto;
    font-size: 18px;
    border: 1px solid #e4e7ed;
    color: #c0c4cc;
  }
  .progress__text {
    font-size: 14px;
    color: #c0c4cc;
  }
  .from {
    width: 380px;
    margin: auto;
  }
  .btn-next {
    width: 100%;
    height: 44px;
    margin-top: 26px;
  }
}
